
<section class="postsIndexHead">
    <div class="postsIndexHead__nav">
        <a href = <%= root_path %> >
            <div class="postsIndexHead__nav--logo">
                <%= image_tag 'kodeup-logo-medium1.png' %>
            </div>
        </a>
        
        <%= link_to logout_path, method: :delete do  %>
            <div class="postsIndexHead__nav--signout">
            Sign Out
            </div>
        <% end %>

    </div>

    <div>
    <hr class="head__hr">
    </div>
</section>

<section class="postsIndexMain">
    <div  class="postsIndexMain__body">
        <div class="postsIndexMain__body--head">
            <a href= <%= new_post_path %> >
                <div class="postsIndexMain__body--btn">
                    Create New
                </div>
            </a >

            <div >
                <hr class="postsIndexMain__body--hr">
            </div>
        </div>

        <table class="postsIndexMain__body--table">
            <% @posts.each do |post| %>
                <tr>
                    <td><%= post.title %> </td>
                    <td><%= link_to 'View', post_path(post) %> |</td>
                    <td><%= link_to 'Edit', edit_post_path(post) %> |</td>
                    <td><%= link_to 'Delete', post_path(post),
                            method: :delete, data: { confirm: "Are you sure?"} %> </td>
                </tr>
            <% end %>
        </table>
    </div>
</section>

<section class="postsIndexFooter">
    <div class="postsIndexFooter__text">
        &copy;2018 KodeUP. All rights reserved.
    </div>
</section>